{{define "content"}}

{{ $statistics := .Statistics }}
{{ $skills := .Skills }}

      <div class="container">
        <hr>
        <div class="row">
          <div class="col-sm-3 col-md-3 col-lg-3">
            <h3>{{ .Name }} ({{ .PointCost }}pts)</h3>
            <h4>Image</h4>
            <h4>{{ .Archetype }}</h4>
            <h4>Description</h4>
              <h4>Base Will: {{ .BaseWill }}</h4>
              <h4>Willpower: {{ .Willpower }}</h4>
          </div>
      <div class="col-sm-3 col-md-3 col-lg-3">
        <h3>Skills</h3>
        {{ range $stat := $statistics }}
        <h4>{{ . }}</h4>
        {{ range $skill := $skills }}
        {{ if eq $skill.LinkStat.Name $stat.Name}}
          <ul>{{ . }} <a type="button" href="/">Roll</a></ul>
        {{ end }}
        {{end}}
      {{ end }}
      </div>
      <div class="col-sm-3 col-md-3 col-lg-3">
        <h3>Powers</h3>
        {{ range .Skills }}
          {{ if .HyperSkill }}
            <p>{{ .HyperSkill }}</p>
          {{ end }}
        {{ end }}

        {{ range .Statistics }}
          {{ if .HyperStat }}
            <p>{{ .HyperStat }}</p>
          {{ end }}
        {{ end }}

        {{ range .Powers }}
          <strong>{{ . }}</strong>
          {{ range .Qualities }}
            <p>{{ . }} <a type="button" href="/">Roll</a></p>
        {{ end }}
        <i>Effect: {{ .Effect }}<i>
        {{ end }}
      </div>
      <div class="col-sm-3 col-md-3 col-lg-3">
        <h3>Hit Locations</h3>
          {{ range .HitLocations }}
            <p>{{ . }}</p>
          {{ end }}
      </div>
    </div>
      </div>
{{end}}
