{{define "content"}}

      <div class="container">
        <div class="row">

      <div class="col-sm-3 col-md-3 col-lg-3">
        <h3>Characters</h3>
          {{ range . }}
          <ul>
            <h4><a href="/view/{{ .Name }}">{{ .Name }} ({{ .PointCost }})</a>
            <a class="btn btn-primary" href="/modify/{{ .Name }}">Modify</a>
            <a class="btn btn-danger" href="/delete/{{ .ID }}">Delete</a></h4>
          </ul>
          {{ end }}
      </div>
    </div>

  </div>

{{end}}
