{{define "content"}}

{{ $character := .Character}}
{{ $statistics := $character.Statistics }}
{{ $skills := $character.Skills }}
{{ $intrinsics := .Intrinsics }}
{{ $sources := .Sources }}
{{ $permissions := .Permissions }}
{{ $counter := .Counter }}

      <div class="container">
        <hr>
        <div class="row">
          <div class="col-sm-3 col-md-3 col-lg-3">
            <form action="" method="POST">

              <div class="input-group">
                <span class="input-group-addon" id="name-addon">Name</span>
                <input type="text" class="form-control" aria-describedby="name-addon" name="Name" value ="{{ $character.Name }}">
              </div>
              <h4>
              <h4>Setting: {{ $character.Setting }}</h4>
              <hr>
              {{ if $character.Archetype }}
              <div class="input-group">
                <span class="input-group-addon" id="archetype-addon">Archetype</span>
                <input type="text" class="form-control" aria-describedby="archetype-addon" name="Archetype" value ="{{ $character.Archetype.Type }}">
              </div>

              <h4>Sources</h4>
              {{ range $s, $v := $character.Archetype.Sources }} <!-- sources loop -->
              {{ if lt $s 3 }}
              <label for="Source-{{add $s 1}}">Source {{add $s 1}}</label>
              <select type="text" class="form-control" id="Source-{{add $s 1}}" name="Source-{{add $s 1}}">
                <option></option>
                {{ range $sources }}
                    <option {{if eq $v.Type .Type }} selected {{ end }} value={{.Type}}>{{ .Type }} ({{ .Cost }}pts)</option>
                {{ end }}
              </select>

              {{ end }} <!-- end IF -->
              {{ end }} <!-- end Sources -->
              <hr>
              <h4>Permissions</h4>
              {{ range $p, $v := $character.Archetype.Permissions }} <!-- permissions loop -->
              {{ if lt $p 3 }}
              <label for="Permission-{{add $p 1}}">Permission {{add $p 1}}</label>
              <select type="text" class="form-control" id="Permission-{{add $p 1}}" name="Permission-{{add $p 1}}">
                <option></option>
                {{ range $permissions }}
                    <option {{if eq $v.Type .Type }} selected {{ end }} value={{.Type}}>{{ .Type }} ({{ .Cost }}pts)</option>
                {{ end }}
              </select>
              {{ end }} <!-- end IF -->
              {{ end }} <!-- end Permissions -->
              <hr>

              <h4>Intrinsics</h4>
   1            {{ range $i, $v := $character.Archetype.Intrinsics }} <!-- intrinsics loop -->
              {{ if lt $i 5 }}
              <label for="Intrinsic-{{$i}}">Intrinsic {{add $i 1}}</label>
              <select type="text" class="form-control" id="Intrinsic-{{add $i 1}}" name="Intrinsic-{{add $i 1}}-Name">
                <option></option>
                {{ range $intrinsics }}
                <option {{if eq $v.Name .Name }} selected {{ end }} value={{.Name}}>{{ .Name }} ({{ .Cost }}pts)</option>
                {{ end }}
              </select>
              <div class="input-group">
                <span class="input-group-addon" id="Intrinsic-{{add $i 1}}-Level">Level</span>
                <input type="number" class="form-control" aria-describedby="Intrinsic-{{add $i 1}}-Level-addon" name="Intrinsic-{{add $i 1}}-Level" value ="{{ $v.Level }}">
              </div>
              <div class="input-group">
                <span class="input-group-addon" id="Intrinsic-{{add $i 1}}-Info-addon">Info</span>
                <input type="text" class="form-control" aria-describedby="Intrinsic-{{add $i 1}}-Info-addon" name="Intrinsic-{{add $i 1}}-Info" value ="{{ $v.Info }}">
              </div>
              <hr>
              {{ end }} <!-- end IF -->
              {{ end }} <!-- End Intrinsics Loop -->
              {{ end }} <!-- End Archetype IF -->
              <hr>
            </div>

              <div class="col-sm-3 col-md-3 col-lg-3">
                <h3>Story & Updates</h3>
              <div class="input-group">
                <label for="Description">Description</label>
                <textarea class="form-control" aria-describedby="description-addon" name="Description" rows="5" value ="{{ $character.Description }}">{{ $character.Description }}</textarea>
              </div>
            </div>

              <div class="col-sm-3 col-md-3 col-lg-3">
              <h3>Stats & Skills</h3>
              {{ range $stat := $statistics }}

              <div class="input-group">
                <span class="input-group-addon" id="{{ $stat.Name }}-addon">{{ $stat.Name }}</span>
                <input type="number" class="form-control" aria-describedby="{{ $stat.Name }}-addon" name="{{ $stat.Name }}" value ="{{ $stat.Dice.Normal }}">
              </div>
              <br>
              {{ range $skill := $skills }}
              {{ if eq $skill.LinkStat.Name $stat.Name}}
              <ul>
              <div class="input-group">
                <span class="input-group-addon" id="{{ $skill.Name }}-addon">{{ $skill.Name }}</span>
                <input type="number" class="form-control" aria-describedby="{{ $skill.Name }}-addon" name="{{ $skill.Name }}" value ="{{ $skill.Dice.Normal }}">
              </div>
              {{ if $skill.ReqSpec }}
              <div class="input-group">
                <span class="input-group-addon" id="{{ $skill.Name }}-Spec-addon">--Specialization</span>
                <input type="text" class="form-control" aria-describedby="{{ $skill.Name }}-Spec-addon" name="{{ $skill.Name }}-Spec" value ="{{ $skill.Specialization }}">
              </div>
              {{ end }}
            </ul>
              {{ end }}
              {{end}}
              {{ end }}
              <br>
              <input class="button" type="submit" value="Save">
              <br>
            </form>
          </div>

      <div class="col-sm-3 col-md-3 col-lg-3">
        <h3>Powers</h3>
        {{ range $character.Skills }}
          {{ if .HyperSkill }}
            <p>{{ .HyperSkill }}</p>
          {{ end }}
        {{ end }}

        {{ range $character.Statistics }}
          {{ if .HyperStat }}
            <p>{{ .HyperStat }}</p>
          {{ end }}
        {{ end }}

        {{ range $character.Powers }}
          <strong>{{ . }}</strong>
          {{ range .Qualities }}
            <p>{{ . }} <a type="button" href="/">Roll</a></p>
        {{ end }}
        <i>Effect: {{ .Effect }}</i>
        {{ end }}
      </div>
    </div>
      </div>
{{end}}
