{{ define "title"}}

<title>ORE Signup</title>

{{ end }}

{{define "content"}}

<div class="container">
  <div class="row">
  <h1>Login</h1>
  <form method="POST" action="">
      <label for="usernname">User name</label>
      <input type="text" id="username" name="username">
      <label for="password">Password</label>
      <input type="password" id="password" name="password">
      <label for="email">Email</label>
      <input type="email" id="email" name="email">
      <button type="submit">Sign Up</button>
  </form>
</div>
</div>

{{ end }}
