{{ define "title"}}

<title>ORE Roster</title>

{{ end }}

{{define "content"}}

      <div class="container">
        <div class="row">

      <div class="col-sm-12 col-md-12 col-lg-12">

        <h3>{{ .SessionUser }}'s Character Roster</h3>
        <ul>
          {{ range .CharacterModels }}
          <li><a href="/view_character/{{ .ID }}">{{ .Character.Name }} ({{ .Character.PointCost }}pts) - by {{ .Author.UserName }}</a></li>
          {{ end }}
        </ul>
      </div>
    </div>

  </div>

{{end}}
