
{{ define "title"}}

{{ $character := .CharacterModel.Character }}

<title>{{ $character.Setting }} - {{ $character.Name }}</title>

{{ end }}

{{define "content"}}

{{ $character := .CharacterModel.Character }}
{{ $open := .CharacterModel.Open }}
{{ $ID := .CharacterModel.ID }}
{{ $IsAuthor := .IsAuthor }}
{{ $author := .CharacterModel.Author }}
{{ $shock := .Shock }}
{{ $kill := .Kill }}
{{ $statistics := $character.Statistics }}
{{ $skills := $character.Skills }}

      <div class="container">
        <hr>
        <div class="row">
          <div class="col-sm-3 col-md-3 col-lg-3">
            <h3>{{ $character.Name }} ({{ $character.PointCost }}pts)</h3>
            <h4>Author: {{ $author.UserName }}</h4>
            <hr>

            {{ if $character.Archetype }}
            <h4>Archetype: {{ $character.Archetype.Type }} ({{ $character.Archetype.Cost }}pts)</h4>
            <h4>Sources</h4>
            {{ range $source := $character.Archetype.Sources }}
              <ul><p>{{ $source }}</p></ul>
            {{ end }}

            <h4>Permissions</h4>
            {{ range $permission := $character.Archetype.Permissions }}
              <ul><p>{{ $permission }}</p></ul>
            {{ end }}

            <h4>Intrinsics</h4>
            {{ range $intrinsic := $character.Archetype.Intrinsics }}
              <ul><p>{{ $intrinsic.Name }}
                {{ if $intrinsic.RequiresInfo }}
                - {{ $intrinsic.Info }}
                {{ end }}
                {{ if $intrinsic.RequiresLevel }}
                   ({{ multiply $intrinsic.Cost $intrinsic.Level }}pts)
                {{ else }}
                  ({{ $intrinsic.Cost }}pts)
                {{ end }}
            </p></ul>
            {{ end }}

            <hr>
            {{ end }} <!-- End Archetype IF -->

            <form action="" method="POST">
            <h4>Description</h4>
            {{ $character.Description }}
            <hr>

            {{ if ne $character.Setting "RE" }}
              <h4>Base Will: {{ $character.BaseWill }}</h4>
              <div class="input-group">
                <span class="input-group-addon" id="Willpower">Willpower</span>
                <input type="number" class="form-control" aria-describedby="Willpower" name="Willpower" value ="{{ $character.Willpower }}">
              </div>
            {{ end }}
            <hr>
            {{ if $IsAuthor }}
            <button class="btn btn-primary" type="submit" value="Update Character State">Update Character State</button>
            {{ end }}
            <hr>
            {{ if $IsAuthor }}
              <a class="btn btn-primary" href="/modify/{{ $ID }}">Modify</a>
              <a class="btn btn-danger" href="/delete/{{ $ID }}">Delete</a></h4>
              {{ else }}
              {{ if $open }}
              <a class="btn btn-primary" href="/add_to_user_roster/{{ $ID }}">Add to Personal Roster</a>
              {{ end }}
            {{ end }}
            <hr>
            <h4>Detailed Costs</h4>
            <ul>
            {{ range $k, $v := $character.DetailedCost }}
              <li>{{ $k }}: {{ $v }}</li>
            {{ end }}
          </ul>
          </div>
      <div class="col-sm-3 col-md-3 col-lg-3">
        <h3>Skills</h3>
        {{ range $stat := $statistics }}
        <p>{{ . }}
          <a href={{ statRoll $ID $stat 1 }}>Roll</a>
          {{ if $IsAuthor }}
            [<a href="/add_skill/{{ $ID }}/{{ $stat.Name }}">+Skill</a>
            {{ if not $stat.HyperStat }}
            <a href="/add_hyperstat/{{ $ID }}/{{ $stat.Name }}">+Hyper</a>{{ end }}]</p>
          {{ end }}
        {{ range $skill := $skills }}
        {{ if or $skill.Dice.Normal $skill.Dice.Hard $skill.Dice.Wiggle }}
        {{ if eq $skill.LinkStat.Name $stat.Name}}
          <ul><p>{{ . }}
            <a href={{ skillRoll $ID $skill $stat 1 }}>Roll</a>
            {{ if not $skill.HyperSkill }}
              {{ if $IsAuthor }}
            [<a href="/add_hyperskill/{{ $ID }}/{{ $skill.Name }}">+Hyper</a>]
              {{ end }}
          {{ end }}</p>
          </ul>
          {{ end }}
        {{ end }}
        {{end}}
      {{ end }}
      </div>

      <div class="col-sm-3 col-md-3 col-lg-3">
        {{ if eq $character.Setting "RE" }}
        <h3>Advantages</h3>
        <ul>
        {{ range $advantage := $character.Advantages }}
        <li><strong>{{ $advantage }}</strong></li>
        {{ end }}
      </ul>
      <hr>
        {{ else }}
        <h3>Powers</h3>
        {{ end }}

        {{ range $power := $character.Powers }}
        <div class="card-body">
          <strong>{{ $power }}</strong>
          {{ if $IsAuthor }}
            <a href="/modify_power/{{ $ID}}/{{ $power.Slug}}">Modify</a>
            <a href="/delete_power/{{ $ID}}/{{ $power.Slug }}">Delete</a>
          {{ end }}
          {{ range $quality := $power.Qualities }}
          <p>{{ $quality }} <a href={{ qualityRoll $ID $power $quality 1 }}>Roll</a>
          {{ end }}
          {{ if $power.Effect }}
          <i>Effect: {{ $power.Effect }}</i>
          {{end}}<hr>
        </div>
        {{ end }}

        {{ range $stat := $statistics }}
          {{ if $stat.HyperStat }}
          <div class="card-body">
            <strong>{{ $stat.HyperStat }}</strong>
            {{ if $IsAuthor }}
              <a href="/modify_hyperstat/{{ $ID }}/{{ $stat.Name }}">Modify</a>
              <a href="/delete_hyperstat/{{ $ID}}/{{ $stat.Name }}">Delete</a></p>
            {{ end }}
            {{ range $quality := $stat.HyperStat.Qualities }}
              <p>{{ $quality }}</p>
          {{ end }}
          {{ if $stat.HyperStat.Effect }}
          <i>Effect: {{ $stat.HyperStat.Effect }}</i>
            {{end}}<hr>
          </div>
          {{ end }}
        {{ end }}

        {{ range $skill := $character.Skills }}
        {{ if $skill.HyperSkill }}
        <div class="card-body">
          <strong>{{ $skill.HyperSkill }}</strong> <a href="/modify_hyperskill/{{ $ID }}/{{ $skill.Name }}">Modify</a>
          {{ if $IsAuthor }}
            <a href="/delete_hyperskill/{{ $ID}}/{{ $skill.Name }}">Delete</p>
          {{ end }}
          {{ range $quality := $skill.HyperSkill.Qualities }}
          <p>{{ $quality }}</p>
          {{ end }}
          {{ if $skill.HyperSkill.Effect }}
          <i>Effect: {{ $skill.HyperSkill.Effect }}</i>
          {{end}}<hr>
        </div>
        {{ end }}
        {{ end }}

        {{ if $IsAuthor }}
        {{ if eq $character.Setting "RE" }}
        <a class="btn btn-primary" href="/add_advantages/{{ $ID }}">Add Advantages</a></p>
        {{ else }}
        <a class="btn btn-primary" href="/add_power/{{$ID }}">Add Power</a></p>
        <a class="btn btn-primary" href="/add_power_from_list/{{ $ID }}">Add Power from List</a></p>
        {{ end }}
        {{ end }}
      </div>

      <div class="col-sm-3 col-md-3 col-lg-3">
        <h3>Hit Locations</h3>
        {{ range $loc := $character.HitLocations }}
            <p>{{ $loc }}
              <br>Shock: {{ range $i, $v := .Shock }}  <input type="checkbox" name="{{ $loc.Name }}-Shock-{{ $i }}" value="true" id="checkbox" {{if eq $v true }} checked {{ end }}>{{ end }}
              <br>Kill: {{ range $j, $q := .Kill }}  <input type="checkbox" name="{{ $loc.Name }}-Kill-{{ $j }}" value="true" id="checkbox" {{if eq $q true }} checked {{ end }}>{{ end }}
          {{ end }}
          <br>
      </form>
      </div>
    </div>
      </div>

{{end}}
