{{define "content"}}

{{ $character := .Character }}
{{ $shock := .Shock }}
{{ $kill := .Kill }}
{{ $statistics := $character.Statistics }}
{{ $skills := $character.Skills }}

      <div class="container">
        <hr>
        <div class="row">
          <div class="col-sm-3 col-md-3 col-lg-3">
            <h3>{{ $character.Name }} ({{ $character.PointCost }}pts)</h3>
            <hr>

            {{ if $character.Archetype }}
            <h4>Archetype: {{ $character.Archetype.Type }} ({{ $character.Archetype.Cost }}pts)</h4>
            <h4>Sources</h4>
            {{ range $source := $character.Archetype.Sources }}
              <ul><p>{{ $source }}</p></ul>
            {{ end }}

            <h4>Permissions</h4>
            {{ range $permission := $character.Archetype.Permissions }}
              <ul><p>{{ $permission }}</p></ul>
            {{ end }}

            <h4>Intrinsics</h4>
            {{ range $intrinsic := $character.Archetype.Intrinsics }}
              <ul><p>{{ $intrinsic.Name }}
                {{ if $intrinsic.RequiresInfo }}
                - {{ $intrinsic.Info }}
                {{ end }}
                {{ if $intrinsic.RequiresLevel }}
                   ({{ multiply $intrinsic.Cost $intrinsic.Level }}pts)
                {{ else }}
                  ({{ $intrinsic.Cost }}pts)
                {{ end }}
            </p></ul>
            {{ end }}

            <hr>
            {{ end }} <!-- End Archetype IF -->

            <form action="" method="POST">
            <h4>Description</h4>
            {{ $character.Description }}
            <hr>

            {{ if ne $character.Setting "RE" }}
              <h4>Base Will: {{ $character.BaseWill }}</h4>
              <div class="input-group">
                <span class="input-group-addon" id="Willpower">Willpower</span>
                <input type="number" class="form-control" aria-describedby="Willpower" name="Willpower" value ="{{ $character.Willpower }}">
              </div>
            {{ end }}
            <hr>
            <button class="btn btn-primary" type="submit" value="Save Wound State">Update Character State</button>
            <hr>
              <a class="btn btn-primary" href="/modify/{{ $character.ID }}">Modify</a>
              <a class="btn btn-danger" href="/delete/{{ $character.ID }}">Delete</a></h4>
            <hr>
            <h4>Detailed Costs</h4>
            <ul>
            {{ range $k, $v := $character.DetailedCost }}
              <li>{{ $k }}: {{ $v }}</li>
            {{ end }}
          </ul>
          </div>
      <div class="col-sm-3 col-md-3 col-lg-3">
        <h3>Skills</h3>
        {{ range $stat := $statistics }}
        <p>{{ . }}
          <a href={{ statRoll $character $stat 1 }}><span title="Roll" class="glyphicon glyphicon-play" aria-hidden="true"></span></a>
          [<a href="/add_skill/{{ $character.ID }}/{{ $stat.Name }}"><span title="Add Skill" style="color:grey" class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
          {{ if not $stat.HyperStat }}
          <a href="/add_hyperstat/{{ $character.ID }}/{{ $stat.Name }}"><span title="Add Hyper-Stat" style="color:grey" class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></a>{{ end }}]</p>
        {{ range $skill := $skills }}
        {{ if or $skill.Dice.Normal $skill.Dice.Hard $skill.Dice.Wiggle }}
        {{ if eq $skill.LinkStat.Name $stat.Name}}
          <ul><p>{{ . }}
            <a href={{ skillRoll $character $skill $stat 1 }}><span title="Roll" class="glyphicon glyphicon-play" aria-hidden="true"></span></a>
            {{ if not $skill.HyperSkill }}
            [<a href="/add_hyperskill/{{ $character.ID }}/{{ $skill.Name }}"><span title="Add Hyper-Skill" style="color:grey" class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></a>]
          {{ end }}</p>
          </ul>
          {{ end }}
        {{ end }}
        {{end}}
      {{ end }}
      </div>

      <div class="col-sm-3 col-md-3 col-lg-3">
        {{ if eq $character.Setting "RE" }}
        <h3>Advantages</h3>
        <ul>
        {{ range $advantage := $character.Advantages }}
        <li><strong>{{ $advantage }}</strong></li>
        {{ end }}
      </ul>
      <hr>
        {{ else }}
        <h3>Powers</h3>
        {{ end }}

        {{ range $power := $character.Powers }}
        <div class="card-body">
          <strong>{{ $power }}</strong>
          <a href="/modify_power/{{ $character.ID}}/{{ $power.Slug}}"><span title="Modify" class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
          <a href="/delete_power/{{ $character.ID}}/{{ $power.Slug }}"><span title="Delete" class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
          {{ range $quality := $power.Qualities }}
          <p>{{ $quality }} <a href={{ qualityRoll $character $power $quality 1 }}><span title="Roll" class="glyphicon glyphicon-play" aria-hidden="true"></span></a></p>
          {{ end }}
          {{ if $power.Effect }}
          <i>Effect: {{ $power.Effect }}</i>
          {{end}}<hr>
        </div>
        {{ end }}

        {{ range $stat := $statistics }}
          {{ if $stat.HyperStat }}
          <div class="card-body">
            <strong>{{ $stat.HyperStat }}</strong><a href="/modify_hyperstat/{{ $character.ID }}/{{ $stat.Name }}"><span title="Modify" class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
          <a href="/delete_hyperstat/{{ $character.ID}}/{{ $stat.Name }}"><span title="Delete" class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></p>
            {{ range $quality := $stat.HyperStat.Qualities }}
              <p>{{ $quality }}</p>
          {{ end }}
          {{ if $stat.HyperStat.Effect }}
          <i>Effect: {{ $stat.HyperStat.Effect }}</i>
            {{end}}<hr>
          </div>
          {{ end }}
        {{ end }}

        {{ range $skill := $character.Skills }}
        {{ if $skill.HyperSkill }}
        <div class="card-body">
          <strong>{{ $skill.HyperSkill }}</strong> <a href="/modify_hyperskill/{{ $character.ID }}/{{ $skill.Name }}"><span title="Modify" class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
          <a href="/delete_hyperskill/{{ $character.ID}}/{{ $skill.Name }}"><span title="Delete" class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></p>
          {{ range $quality := $skill.HyperSkill.Qualities }}
          <p>{{ $quality }}</p>
          {{ end }}
          {{ if $skill.HyperSkill.Effect }}
          <i>Effect: {{ $skill.HyperSkill.Effect }}</i>
          {{end}}<hr>
        </div>
        {{ end }}
        {{ end }}

        {{ if eq $character.Setting "RE" }}
        <a class="btn btn-primary" href="/add_advantages/{{ $character.ID }}">Add Advantages</a></p>
        {{ else }}
        <a class="btn btn-primary" href="/add_power/{{ $character.ID }}">Add Power</a></p>
        {{ end }}
      </div>

      <div class="col-sm-3 col-md-3 col-lg-3">
        <h3>Hit Locations</h3>
        {{ range $loc := $character.HitLocations }}
            <p>{{ $loc }}
              <br>Shock: {{ range $i, $v := .Shock }}  <input type="checkbox" name="{{ $loc.Name }}-Shock-{{ $i }}" value="true" id="checkbox" {{if eq $v true }} checked {{ end }}>{{ end }}
              <br>Kill: {{ range $j, $q := .Kill }}  <input type="checkbox" name="{{ $loc.Name }}-Kill-{{ $j }}" value="true" id="checkbox" {{if eq $q true }} checked {{ end }}>{{ end }}
          {{ end }}
          <br>
      </form>
      </div>
    </div>
      </div>

{{end}}
