{{define "content"}}

{{ $character := . }}
{{ $statistics := $character.Statistics }}
{{ $skills := $character.Skills }}

      <div class="container">
        <hr>
        <div class="row">
          <div class="col-sm-3 col-md-3 col-lg-3">
            <h3>{{ .Name }} ({{ .PointCost }}pts)</h3>
            <h4>Image</h4>
            <h4>{{ .Archetype }}</h4>
            <h4>Description</h4>
              <h4>Base Will: {{ .BaseWill }}</h4>
              <h4>Willpower: {{ .Willpower }}</h4>
              <a class="btn btn-primary" href="/modify/{{ .ID }}">Modify</a>
              <a class="btn btn-danger" href="/delete/{{ .ID }}">Delete</a></h4>
          </div>
      <div class="col-sm-3 col-md-3 col-lg-3">
        <h3>Skills</h3>
        {{ range $stat := $statistics }}
        <h4>{{ . }} <a href={{ statRoll $character $stat.Name 1 }}>Roll</a>
        <a class="btn btn-secondary" href="/add_hyperstat/{{ $character.ID }}/{{ $stat.Name }}">Add HyperStat</a></h4>
        {{ range $skill := $skills }}
        {{ if or $skill.Dice.Normal $skill.Dice.Hard $skill.Dice.Wiggle }}
        {{ if eq $skill.LinkStat.Name $stat.Name}}
          <ul>{{ . }} <a href={{ skillRoll $character $skill.Name 1 }}>Roll</a></ul>
          {{ end }}
        {{ end }}
        {{end}}
      {{ end }}
      </div>
      <div class="col-sm-3 col-md-3 col-lg-3">
        <h3>Powers</h3>
        {{ range .Skills }}
          {{ if .HyperSkill }}
            <p>{{ .HyperSkill }}</p>
            <hr>
          {{ end }}
        {{ end }}

        {{ range $stat := $statistics }}
          {{ if $stat.HyperStat }}
            <p>{{ $stat.HyperStat }}</p>
            {{ range $quality := $stat.HyperStat.Qualities }}
              <p>{{ $quality }}</p>
          {{ end }}
          <i>Effect: {{ $stat.HyperStat.Effect }}</i>
            <hr>
          {{ end }}
        {{ end }}

        {{ range $power := .Powers }}
        <div class="card-body">
          <strong>{{ . }}</strong> <a type="btn" href="/modify_power/{{ $character.ID}}/{{ $power.Slug}}">Modify</a>
        <a type="btn btn-danger" href="/delete_power/{{ $character.ID}}/{{ $power.Slug}}">Delete</a></p>
          {{ range $quality := .Qualities }}
            <p>{{ $quality }} <a href={{ qualityRoll $character $power $quality 1 }}>Roll</a></p>
        {{ end }}
        <i>Effect: {{ .Effect }}</i>
          <hr>
        </div>
        {{ end }}
        <hr>
        <a class="btn btn-primary" href="/add_power/{{ $character.ID }}">Add Power</a></p>

      </div>
      <div class="col-sm-3 col-md-3 col-lg-3">
        <h3>Hit Locations</h3>
          {{ range .HitLocations }}
            <p>{{ . }}</p>
          {{ end }}
      </div>
    </div>
      </div>
{{end}}
